/target
/.bench
crates/steam/src/generated/_.rs
crates/steam-ffi/bindings/
examples/python/.venv/
examples/python/build/
examples/python/.pytest_cache/
examples/python/__pycache__/
examples/python/tests/__pycache__/
